@model MovieWebApp.Models.FooterViewModel



<footer class="border-top footer text-muted">
    <div class="container">
        &copy; 2023 - MovieWebApp - <a asp-area="" asp-page="/Privacy">Privacy</a>
        Last Updated Time : @Model.LastUpdateTime
    </div>
</footer>


